/* estilo_container.css */

body {
    margin: 0 10%;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.header-index,
.header-adicionar,
.header-editar,
.container-btn {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
}

.container-btn {
    flex-direction: column;
}

.container-btn a {
    box-sizing: border-box;
    text-align: center;
}

.btn-salvar {
    width: 100%;
}
